@mixin horizontal-rules() {
  border-bottom: 1px dashed $text-color-l;
  &::after {
    content: '';
    position: relative;
    display: inline-block; 
    color: $text-color-l;
    background: $background-color;
    font-size: map-get($base, font-size-h3);
  }
}

.horizontal-rules {
  @include horizontal-rules();
}
